@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary: #8c54ff;
  --secondary: #f3a847;
  --tertiary: #b12704;
  --light: #fafafa;
  --dark: #000000;
  --darker: #111111;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
}

main {
  margin: 0 auto;
  max-width: 90%;
  padding: 50px 30px;
}
:root {
  --primary: #8c54ff;
  --secondary: #f3a847;
  --tertiary: #b12704;
  --light: #ffffff;
  --dark: #000000;
  --darker: #111111;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: 0.1em;
  background: var(--light);
  color: var(--dark);
  font-family: 'Montserrat', cursive;
}

.navActive {
  @apply
  text-orange-500 underline underline-offset-2
}

.navContainer {
  @apply 
  bg-nature-green bg-cover bg-center bg-no-repeat lg:h-[280px] w-full h-[80px] relative
}
ul li a {
  @apply
    py-[7px] px-[13px] text-[17px]
  hover:bg-slate-500 hover:text-orange-500 transition-all duration-300 cursor-pointer
  bg-gray-50 hover:font-semibold rounded-full p-6 shadow-md shadow-slate-300
}

.project-area {
  @apply
  grid grid-cols-1 w-full gap-x-3 gap-y-4 justify-around lg:grid-cols-3 p-5
}
.single-project {
  @apply lg:h-[580px] h-[430px] w-full lg:p-[18px] bg-white relative items-center transition-all
  ease-out shadow-2xl hover:translate-y-[15px] hover:before:opacity-100
}


.single-project:hover .project-title {
  @apply opacity-100 translate-y-0
}
.single-project:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgb(190, 112, 130), transparent);
  z-index: 2;
  transition: 0.5s;
  opacity: 0;
}
.single-project img {
  @apply w-full h-full absolute top-0 left-0 object-center object-cover inset-0 

}

.single-project .project-title {
  @apply relative z-10 text-white opacity-0 translate-y-[60px] transition-all
}
#check:checked ~ ul {
  @apply left-0
}

.iconLink {
  @apply
  flex rounded-full bg-slate-500 hover:bg-slate-200 p-3 text-gray-300 text-4xl shadow-xl
   hover:text-black hover:shadow-xl hover:text-5xl justify-center items-center
}

._title {
  @apply
  font-semibold text-3xl 
  overflow-ellipsis overflow-hidden whitespace-nowrap text-gray-800 
  bg-white  -ml-[20px] p-3 mt-0 mr-0 pl-5 pr-5  rounded-r-3xl shadow-md shadow-white 
}

#contact_info,
#contact_us {
    height: 350px;
    width: 350px;
}

@media only screen and (max-width: 768px) {
    #contact_info {
        display: none;
    }
}